<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} RIP Service {% endblock title %}</title>
		<meta name="description" content="A tombstone service for deprecated ACDH-CH Services">
    <link rel="stylesheet" href="css/styles.css">
    {% if matomo_id %}
    {% include 'partials/matomo.j2' %}
    {% endif %}
  </head>
  <body class="page">
  {% block content %}{% endblock content %}
  </body>
</html>
