{% extends "/partials/base.j2" %}
{% block title %} RIP: {{ title_short }} {% endblock title %}

{% block content %}
    <header class="page__header">
      <div class="container">
        <h1>{{ title_short }}</h1>
        <h2>{{ title_full }}</h2>
      </div>
    </header>

    <main class="container">
      <div class="details">
        {% if img %}
        <img alt="" src="img/{{ img }}">
        {% endif %}

        {% if custom_text %}
        <p>{{ custom_text|safe }}</p>
        {% else %}
        <p>The service called <em>{{ title_full }}</em> formerly accessible through this URL: <em>{{ url }}</em> is deprecated since <em>{{ deprecation_date }}</em>.</p>
        <p>For further information please write to <a href="mailto:acdh-helpdesk@oeaw.ac.at">ACDH-CH Helpdesk, acdh-helpdesk@oeaw.ac.at</a></p>
        {% endif %}
        {% if custom_items %}
        <div>
          {% for item in custom_items %}
            <p>
              {{ item }}
            </p>
          {% endfor %}
        <div>
        {% endif %}
        {% if link_to_code_repo %}
          <dl>
            <dt>Source code</dt>
            <dd>
              <a href="{{ link_to_code_repo }}">{{ link_to_code_repo }}</a>
            </dd>
          </dl>
        {% endif %}

      </div>
    </main>
{% endblock content %}
