{% extends "/partials/base.j2" %}
{% block title %} RIP: {{ title_short }} {% endblock title %}
{% block content %}
    <header class="page__header">
      <div class="container">
        <h1>{{ title_short }}</h1>
        <h2>{{ title_full }}</h2>
      </div>
    </header>

    <main class="container">
      <div class="details">
        {% if img %}
        <img alt="" src="img/{{ img }}"></img>
        {% endif %}
      
        {% if custom_text %}
        <p>{{ custom_text|safe }}</p>
        {% else %}
        <p>The service called <em>{{ title_full }}</em> formerly accessible through this URL: <em>{{ url }}</em> is depreceated since <em>{{ deprecation_date }}</em>.</p>
        <p>For futher information please write to <a href="mailto:acdh-helpdesk@oeaw.ac.at">ACDH-CH Helpdesk, acdh-helpdesk@oeaw.ac.at</a></p>
        {% endif %}

        <dl>
          {% if custom_items %}
          {% for item in custom_items %}
          <div>
            <dt>{{ item.item_key }}</dt>
            <dd>{{ item.item_value|safe }}</dd>
          </div>
          {% endfor %}
          {% endif %}
          {% if link_to_code_repo %}
          <div>
            <dt>Source code</dt>
            <dd>
              <a href="{{ link_to_code_repo }}">{{ link_to_code_repo }}</a>
            </dd>
          </div>
          {% endif %}
        </dl>
      </div>
    </main>
{% endblock content %}