{% extends "/partials/base.j2" %}
{% block title %} RIP Service {% endblock title %}
{% block content %}

<body>
    <div class="card">
        <div class="card-header">
            <h1>Rest in Peace Service</h1>
            <h2>A tombstone service for deprecated ACDH-CH Services</h2>
        </div>
    </div>

</body>
{% endblock content %}