{% extends "/partials/base.j2" %}
{% block title %} RIP Service {% endblock title %}
{% block content %}
    <header class="page__header">
      <h1>Rest in Peace Service</h1>
      <h2>A tombstone service for deprecated ACDH-CH Services</h2>
    </header>

    <main>
      <ul class="grid" role="list">
        {% for item in toc_data %}
        <li>
          <article class="grid__item">
            <a href="{{ item.url }}">
              {% if item.img %}
              <img alt="Title image for {{item.title_short}}" decoding="async" loading="lazy" src="img/{{ item.img }}">
              {% endif %}
              <h3>{{ item.title_short }}</h3>
            </a>
          </article>
        </li>
        {% endfor %}
      </ul>
    </main>
{% endblock content %}
