<footer class="bg-brand-gray-dark">
	<div class="flex justify-center text-brand-gray">
		<p>
			&copy; Copyright OEAW | <a
				class="underline decoration-dotted hover:text-brand-light"
				href="/rest-in-peace-service/imprint">Imprint</a
			>
		</p>
	</div>
</footer>
