<footer class="bg-brandGrayDark">
    <div class="flex justify-center text-brandGray">
        <p>&copy; Copyright OEAW |  <a class="underline decoration-dotted hover:text-brandLight" href="/rest-in-peace-service/imprint">Imprint</a></p>
    </div>
</footer>
