<header class="bg-brand-gray-dark text-brand-light">
	<div class="flex size-full items-center justify-between px-5 py-1 md:px-16 md:py-5">
		<div>
			<a href="/rest-in-peace-service/">
				<h1 class="text-2xl font-bold md:text-4xl">Rest in Peace Service</h1>
				<h2 class="font-medium italic text-brand-gray md:text-xl">
					A tombstone service for deprecated ACDH-CH Services
				</h2>
			</a>
		</div>
		<a class="h-full" href="https://www.oeaw.ac.at/acdh">
			<img
				src="/rest-in-peace-service/images/acdh-ch-logo-short-version-color-use-over-black.svg"
				alt=""
				class="p-1 md:hidden"
			/>
			<img
				src="/rest-in-peace-service/images/acdh-ch-logo-with-text-color-use-over-black.svg"
				alt=""
				class="hidden md:flex"
			/>
		</a>
	</div>
</header>
