<header class=" bg-slate-200">
    
<div class="mx-auto w-full max-w-screen-xl px-16 grid content-around py-3">
    <h1 class="self-center text-4xl font-extrabold">Rest in Peace Service</h1>
    <h2 class="self-center text-2xl italic">A tombstone service for deprecated ACDH-CH Services</h2>
</div>

</header>