<footer class="bg-brandGrayDark">
    <div class="flex justify-center text-brandGray">
        <p>© Copyright OEAW |  <a class="underline decoration-dotted hover:text-brandLight" href="imprint.html">Imprint</a></p>
    </div>
</footer>