---
import Link from "@/components/link.astro";
import { defaultLocale } from "@/config/i18n.config";
import { createI18n } from "@/lib/i18n";

const locale = defaultLocale;
const { t } = await createI18n(locale);
---

<footer class="border-t border-neutral-200 bg-neutral-50">
	<section
		class="container border-t border-neutral-200 bg-neutral-100 py-2 text-center text-xs text-neutral-700"
	>
		<div>
			<span>
				&copy;
				<a class="underline transition hover:no-underline" href="https://www.oeaw.ac.at/acdh">
					ACDH-CH
				</a>
				{new Date().getUTCFullYear()}
			</span> |
			<Link class="underline transition hover:no-underline" href="/imprint">
				{t("WebsiteFooter.links.imprint")}
			</Link> |
			<a
				class="underline transition hover:no-underline"
				href="https://github.com/acdh-oeaw/rest-in-peace-service"
			>
				{t("WebsiteFooter.links.repo")}
			</a> |
			<Link class="underline transition hover:no-underline" href="/feed.xml">
				{t("WebsiteFooter.links.feed")}
			</Link>
		</div>
	</section>
</footer>
