---
import "@fontsource-variable/inter/standard.css";
import "@fontsource-variable/inter/standard-italic.css";
import "@/styles/index.css";

import PageFooter from "../components/page-footer.astro"
import PageHeader from "../components/page-header.astro"
---

<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>RIP Service</title>
	</head>
	<body class="grid grid-rows-[auto_1fr_auto] bg-brandLight">
		<PageHeader/>
		<slot/>
		<PageFooter/>
	</body>
</html>
